<div id="footer_area">
  <a name="contact"></a>
  <footer id="sticky_footer" class="py-4">
    <div class="container d-flex justify-content-center text-center">

    <div id="contact_icon">
      <a target="_blank" href="https://github.com/dotja/dotja.github.io"><h3 id="contact_icon_h3"><i class="fa fa-github"></i></h3></a>
    </div>

		<div id="contact_icon">
      <a target="_blank" href="https://twitter.com/dotja"><h3 id="contact_icon_h3"><i class="fa fa-twitter"></i></h3></a>
    </div>

		<div id="contact_icon">
      <a target="_blank" href="https://www.youtube.com/channel/UCQuuYJqZyplHBzxgVifU35A/featured"><h3 id="contact_icon_h3"><i class="fa fa-youtube"></i></h3></a>
    </div>

    </div>
  </footer>
</div>